@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
	--font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
		"Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
		"Fira Mono", "Droid Sans Mono", "Courier New", monospace;
	--main-bg-color: rgb(48, 80, 80);
	--form-bg-color: rgb(38, 104, 66, 0.8);
	--green-accent-color: rgb(124, 176, 65);
	--light-accent-color: rgb(230, 74, 24);
	--dark-accent-color: rgb(187, 53, 12);
}

html,
body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: "roboto";
	background-image: url("https://images.pexels.com/photos/808510/pexels-photo-808510.jpeg?auto=compress&cs=tinysrgb&w=1920&h=1080&dpr=1");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: var(--main-bg-color);
	color: white;
}

.loading-div {
	width: fit-content;
	height: auto;
	padding: 2rem;
	overflow-y: hidden;
	position: static;
	text-align: center;
	margin: 10% auto 0 auto;
	border-radius: 0.5rem;
	background-color: var(--form-bg-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.loading-div > img {
	margin: 0 auto;
}

.loading-div > h1 {
	text-shadow: 3px 2px var(--dark-accent-color);
}

.is-loading {
	opacity: 0;
}

.is-loaded {
	opacity: 100;
	transition: opacity 0.5s;
}

.title {
	text-shadow: 3px 2px var(--dark-accent-color);
}

.login-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	height: 100vh;
	width: 100%;
}

.login-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: fit-content;
	height: fit-content;
	padding: 2.5rem 5rem;
	border-radius: 0.5rem;
	background-color: var(--form-bg-color);
}

.login-form > input {
	border: none;
	padding: 10px;
	margin-top: 0.5rem;
	border-radius: 0.5rem;
}

.login-form > h2 {
	text-align: left;
	margin-bottom: 0;
	align-self: flex-start;
}

.password-input {
	margin-bottom: 1rem;
}

.signup-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	height: 100vh;
	width: 100%;
}

.signup-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: fit-content;
	height: fit-content;
	padding: 2.5rem 5rem;
	border-radius: 0.5rem;
	background-color: var(--form-bg-color);
}

.details > input {
	border: none;
	padding: 10px;
	border-radius: 0.5rem;
	margin: 5px;
}

.details {
	display: flex;
	padding: 10px;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

.details > h3 {
	text-align: left;
	margin-bottom: 0;
	margin: 5px;
	width: 18%;
}

.password-input {
	margin-bottom: 1rem;
}

.signup-form > div > .button {
	width: 50%;
}

@media screen and (max-width: 850px) {
	.details {
		display: flex;
		flex-direction: column;
		padding-bottom: 0;
		padding-top: 0;
	}
	.details > h3 {
		width: 50%;
	}
}

.buttondiv {
	display: flex;
}
