:root {
	--font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
		"Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
		"Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

html,
body {
	max-width: 100vw;
	max-height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
		"Arial", sans-serif;
	background-color: darkslategrey;
	color: white;
}

.loading-div {
	width: 100%;
	height: auto;
	overflow-y: hidden;
	position: static;
	text-align: center;
	margin: 15% auto;
}

.loading-div > img {
	margin: 0 auto;
}

.img-loading {
	opacity: 0;
}

.img-loaded {
	opacity: 100;
	transition: opacity 3s;
}
