@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
	--font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
		"Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
		"Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

html,
body {
	max-width: 100vw;
	max-height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: "roboto";
	background-color: darkslategrey;
	color: white;
}

.loading-div {
	width: 100%;
	height: auto;
	overflow-y: hidden;
	position: static;
	text-align: center;
	margin: 15% auto;
}

.loading-div > img {
	margin: 0 auto;
}

.img-loading {
	opacity: 0;
}

.img-loaded {
	opacity: 100;
	transition: opacity 3s;
}

.login-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	height: 100vh;
	width: 100%;
}

.login-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: fit-content;
	height: fit-content;
	padding: 2.5rem 5rem;
	border-radius: 0.5rem;
	background-color: rgb(38, 104, 66);
}

.login-form > input {
	border: none;
	padding: 10px;
	margin-top: 0.5rem;
	border-radius: 0.5rem;
}

.login-form > h2 {
	text-align: left;
	margin-bottom: 0;
	align-self: flex-start;
}

.password-input {
	margin-bottom: 1rem;
}
