/* CSS */
.button {
	background-color: #e64a18;
	border: 1px solid #bb350c;
	border-radius: 0.5rem;
	box-sizing: border-box;
	color: #090b0f;
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1.25rem;
	padding: 0.75rem 1rem;
	text-align: center;
	text-decoration: none #d1d5db solid;
	text-decoration-thickness: auto;
	box-shadow: 0 1px 2px 0 #bb350c;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	margin: 0.25rem 0.5rem;
}

.button:hover {
	background-color: #bb350c;
}

.button:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.button:focus-visible {
	box-shadow: none;
}
