.formgroup {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 1rem;
}

.formgroup > h3 {
	justify-self: flex-start;
	text-align: left;
}

.formgroup > input {
	border: none;
	padding: 10px;
	border-radius: 0.5rem;
	width: 10rem;
}

.formgroup > select {
	border: none;
	padding: 10px;
	border-radius: 0.5rem;
	width: 11.25rem;
}

.formgroup > button {
	margin: 1rem auto 0 auto;
	align-self: center;
	width: 100%;
}
