.plantinfo {
	width: 100%;
	height: 10%;
	display: flex;
	align-items: center;
	border-color: rgb(124, 176, 65, 0.3);
	border-width: 2px 0;
	border-style: solid;
}

.plantinfo > h3 {
	margin: 0 1rem;
}

.plantinfo > button {
	width: 6%;
}

.plantinfo > div {
	margin-left: auto;
	margin-right: 2rem;
	display: flex;
	width: 12%;
}

.type {
	width: 7.5%;
	text-align: left;
}

.name {
	width: 15%;
	text-align: left;
}

.health {
	width: 30%;
	text-align: left;
}

.waterfreq {
	width: 10%;
	text-align: left;
}

@media screen and (max-width: 850px) {
	.waterfreq {
		display: none;
	}

	.health {
		width: 25%;
		font-size: 1rem;
	}

	.name {
		font-size: 0.75rem;
	}
	.type {
		font-size: 1rem;
	}

	.plantinfo > div {
		margin-left: auto;
		margin-right: 2rem;
		display: flex;
		width: 22%;
	}
}

@media screen and (max-width: 600px) {
	.health {
		font-size: 0.75rem;
	}
	.type {
		font-size: 0.75rem;
	}
}
